<div class="container-fluid" style="padding-bottom: 100px;">
    <div class="row">
        <div class="col-md-12">

            <div style="max-height:400px; overflow-y:scroll">
                <p *ngIf="teamMembersLength == 0">You have no team member</p>
                <div class="card mt-3 animated fadeIn shadow" *ngFor = "let r of teamMembers">
                    <a (click)="handleRoute(r)">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <img *ngIf="r.passport != null && r.passport != ''" src="{{basePath + r.passport}}" style="width:50px; height:50px" class="rounded-circle" />{{passportPath}}
                                    <img *ngIf="r.passport == null || r.passport == ''" src="../../assets/avatar.png" style="width:50px; height:50px" class="rounded-circle" />{{passportPath}}
                                </div>
                                <div class="col-7">
                                    <p>{{r.last_name}}</p>
                                </div>
                                
                                <div class="col-2 text-right">
                                    <button type="button" mat-icon-button title="Send Message"><mat-icon>chat</mat-icon></button>
                                    <!-- <button type="button" mat-icon-button title="delete" (click)="deleteUser(r.user_id)"><mat-icon style="color: red">delete</mat-icon></button> -->
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
            </div>
        </div>
    </div>
</div>