<div class="container-fluid">
        <div class="row">
                <div class="col-md-12">
                        <h5>MY PROFILE</h5>
                </div>
                <div class="col-md-6">
                        <div class="card">
                                <div class="card-header">
                                        Info
                                </div>
                                <div class="card-body">
                                        <div class="row">
                                                <div class="col-md-4">
                                                        <img src={{passportPath}} style="width:150px" />
                                                </div>
                                                <div class="col-md-8">
                                                        <h6>{</h6>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>