<div class="container-fluid" style="padding-bottom: 100px;">
    <div class="row">
        <div class="col-md-12 pt-3">
            <p *ngIf="loading">loading...</p>
            <div class="card shadow shadow-lg mb-3">
                <div class="card-body"><h2 *ngIf="hasTeam" class="text-success">{{ myTeam }}</h2></div>
            </div>
            <!-- {{ step }}{{ hasTeam }} -->
            <div class="card" *ngIf="(!hasTeam && step == 1) || (!hasTeam && step == 3)">
                <div class="card-body animated fadeIn shadow shadow-lg">
                    <h3 class="animated fadeIn">Create Your Team</h3><br />
                    <p class="animated fadeIn">We are glad to have you on this platform. It appears you do no have a team formed yet.
                        No worries, it's easy. Follow the steps below :)
                    </p>
                    <mat-nav-list class="animated fadeIn">
                        <mat-divider></mat-divider>
                        <mat-list-item>Click the button below to create your team</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Fill the required data</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>Then you can send invite to athletes of your choice</mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>You are set! You can begin to address your team members.</mat-list-item>
                        <mat-divider></mat-divider>
    
                    </mat-nav-list>
                    <button type="button" class="btn btn-block mt-4 create-team" (click)="createTeam()">Create Team</button>

                </div>
                
            </div>

            <div class="card" *ngIf="(!hasTeam && step == 2) || step == 7">
                <div class="card-body animated fadeIn shadow shadow-lg">
                        <button type="button" (click)="goBack()" class="btn btn-secondary mb-3">back</button>
                    <form (ngSubmit)="saveTeam(teamForm.value)" [formGroup]="teamForm">
                        <div class="form-group">
                            <input class="form-control" type="email" placeholder="team name here...(must be at least 5 characters long)" formControlName="teamName" />
                            <button class="mt-3" mat-raised-button color="primary" [disabled]="!teamForm.valid">{{ buttonText }}</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card" *ngIf="hasTeam && !hasTeamMembers && step == 3">
                    <div class="card-body animated fadeIn shadow shadow-lg">
                            <div class="list-group">
                                    <a (click)="_sendInvite()" class="list-group-item list-group-item-action">
                                      Click to send invite
                                    </a>
                                    <a (click)="_editTeam()" class="list-group-item list-group-item-action">Edit team name</a>
                            </div>
                    </div>
            </div>

            <div class="card" *ngIf="hasTeam && hasTeamMembers && step == 4">
                <div class="card-body animated fadeIn shadow shadow-lg">
                        <div class="list-group">
                                <a (click)="_viewTeamMembers()" class="list-group-item list-group-item-action">
                                  View Team Members
                                </a>
                                <a routerLink="/home/notifications" class="list-group-item list-group-item-action">Make Board Post</a>
                                <a (click)="_sendInvite()" class="list-group-item list-group-item-action">Click to Send Invite</a>
                                <a (click)="_editTeam()" class="list-group-item list-group-item-action">Edit Team Name</a>
                        </div>
                </div>
            </div>


            <div class="card" *ngIf="hasTeam && step == 6">
                <div class="card-body">
                <form (ngSubmit)="sendInvite(inviteForm.value)" [formGroup]="inviteForm">
                        <button type="button" (click)="goBack()" class="btn btn-secondary mb-3">back</button><br />
                        <p>You can select a username from below and click the 'send invite' button.
                            The athlete is immediately notified in his email. He becomes a member of your
                            team once he accepts the offer
                        </p>
                        <ng-select
                            [items]="users"
                            placeholder="Invite user"
                            bindValue="email"
                            bindLabel="user_name"
                            formControlName="inviteEmail"

                        >

                        </ng-select>
                        <button mat-raised-button color="primary" [disabled]="!inviteForm.valid" class="mt-2">{{ buttonText2 }}</button>
                </form>
                </div>
            </div>

        <div *ngIf="hasTeam && step == 5">
                <button type="button" (click)="goBack()" class="btn btn-secondary mb-3">back</button>
            <main class="card mt-3">
                <div class="card-header">
                            <div class="card-title">Team Members</div>
                        </div>
                <div class="card-body" style="max-height:400px; overflow-y:scroll">
                    <div class="card mt-3 animated fadeIn shadow" *ngFor = "let r of teamMembers">
                        <a (click)="handleRoute(r)">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <img *ngIf="r.passport != null && r.passport != ''" src="{{basePath + r.passport}}" style="width:50px; height:50px" class="rounded-circle" />{{passportPath}}
                                        <img *ngIf="r.passport == null || r.passport == ''" src="../../assets/avatar.png" style="width:50px; height:50px" class="rounded-circle" />{{passportPath}}
                                    </div>
                                    <div class="col-7">
                                        <p>{{r.last_name}}</p>
                                    </div>
                                    
                                    <div class="col-2 text-right">
                                    </div>
                                </div>
                            </div>
                        </a>
                        </div>
                </div>
            </main>

            <main class="card mt-3">
                    <div class="card-header">
                            <div class="card-title">Invited Athletes</div>
                    </div>
                <div class="card-body" style="max-height:400px; overflow-y:scroll">
                        

                    <div class="card mt-3 animated fadeIn shadow" *ngFor = "let r of invitedMembers">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <img *ngIf="r.passport != null && r.passport != ''" src="{{basePath + r.passport}}" style="width:50px; height:50px" class="rounded-circle" />{{passportPath}}
                                        <img *ngIf="r.passport == null || r.passport == ''" src="../../assets/avatar.png" style="width:50px; height:50px" class="rounded-circle" />{{passportPath}}
                                    </div>
                                    <div class="col-4">
                                        <p>{{r.last_name}}</p>
                                    </div>
                                   
                                    <div class="col-2 text-right">
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </main>
        </div>
        </div>
    </div>
</div>