 
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
      <mat-toolbar-row>
          <div class="container-fluid">
              <div class="row">
                  <div class="sm-6">
                    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
                    <span style="position:relative; top: 2px">IONICBASIS <small>({{userType}})</small></span></div>
                  <div class="sm-6 ml-auto">
                      <button mat-icon-button *ngIf="!mobileQuery.matches"  class="mr-4"><mat-icon>notifications</mat-icon></button>
                      <button mat-icon-button *ngIf="!mobileQuery.matches"  class="mr-4"><mat-icon>email</mat-icon></button>
                      <img src="{{passportPath}}" alt="user avater" id='avatar' />
                  </div>
              </div>
          </div>
      </mat-toolbar-row>
  </mat-toolbar>
      
  <mat-sidenav-container class="example-sidenav-container"
                               [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav [opened]="mobileQuery.matches ? false : true" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                       [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
                       
      <mat-nav-list class="mt-5">
        <a mat-list-item routerLink="/home/{{ nav.route }}" *ngFor="let nav of fillerNav"><mat-icon>{{ nav.icon }}</mat-icon>&nbsp;&nbsp;{{nav.name}}</a>
        <a mat-list-item (click) = "openDialog()"><mat-icon>highlight_off</mat-icon>&nbsp;&nbsp; Logout</a>
      </mat-nav-list>
    </mat-sidenav>
      
    <mat-sidenav-content>
                <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>