<!-- Display for coach -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
                <div class="card mt-3">
                    <div class="card-body">
                            <div *ngIf="userDetails.user_type == 'coach'">
                                    <h5>Notification</h5>
                                    <p>Broadcast message to all team members</p>
                                    <div class="form-group">
                                        <textarea rows="7" [(ngModel)]="message" class="form-control"></textarea>
                
                                    </div>
                                    <div class="form-group">
                                        <button type="button" class="btn btn-success" (click)="sendMessage()">Send Notification</button>
                                    </div>
                                </div>
                
                                <div *ngIf="userDetails.user_type == 'athlete'">
                                        <h5>My Notifications</h5>
                                        <div class="card shadow-lg mt-2" *ngFor= "let notification of notifications">
                                            <div class="card-body">
                                                {{ notification.message }}
                                                <p><small>Sent on: {{notification.date_sent}} </small></p>
                                            </div>
                                        </div>
                                </div>
                    </div>
                </div>

        </div>

        <div class="col-md-6 mt-3">
                <div class="card shadow">
                                <div class="card-header bg-success text-white">
                                        Friend Requests
                                </div>
                                <div class="card-body" style="max-height: 400px; overflow-y: scroll;">
                                        <p *ngIf="friendRequests.length == 0">You have no friend requests</p>
                                        <div class="card mt-3 animated fadeIn shadow" *ngFor = "let r of friendRequests">
                                                <div class="card-body">
                                                        <div class="row">
                                                        <div class="col-3">
                                                                <img *ngIf="r.passport != null && r.passport != ''" src="{{basePath + r.passport}}" style="width:50px; height:50px" class="rounded-circle" />
                                                                <img *ngIf="r.passport == null || r.passport == ''" src="../../assets/avatar.png" style="width:50px; height:50px" class="rounded-circle" />
                                                        </div>
                                                        <div class="col-6">
                                                                <p>{{r.user_name}}</p>
                                                        </div>
                                                        
                                                        <div class="col-3 text-right">
                                                                        <button type="button" mat-icon-button style="background-color: green; border:none; color: #fff; box-shadow: 3px 3px 3px #777" title="Accept Request" (click)="acceptRequest(r.user_id)">
                                                                        <mat-icon >check</mat-icon>
                                                                </button> 
                                                                <!-- <button type="button" mat-icon-button title="delete" (click)="deleteUser(r.user_id)"><mat-icon style="color: red">delete</mat-icon></button> -->
                                                        </div>
                                                        </div>
                                                </div>
                                                
                                        </div>
                                </div>
                </div>
        </div>
    </div>
</div>

